div {position:absolute;left:20px;top:200px;}
caption {font-family:微软雅黑;font-size:24pt;color:pink;font-weight:bold;}
.ts {font-family:华文中宋;font-size:15pt;color:purple;}
#bs {font-family:华文中宋;font-size:14pt;color:blue;}
